<h1>Reservation confirmation</h1>
<p>Your ConfirmationID# is: <%= @reservation.id %></p>
<p>The cost of your Reservation is: <%= @reservation.total %></p>
<p>Start Date: <%= @reservation.start_date.strftime("%m/%d/%Y") %></p>
<p>End Date: <%= @reservation.end_date.strftime("%m/%d/%Y") %></p>

<p>Listing Name: <%= @parkingspot.listing_name%></p>
<p>Address: <%= @parkingspot.address%></p>
<p>Description: <%= @parkingspot.description%></p>
<p>Owner: <a href="/profile/<%= @user.username %>"><%= @user.username %></a></p>
 <style>
       #map{
        height: 400px;
        width: 40%;
       }
    </style>


    <input type="button" value="Toggle Street View" onClick="toggleStreetView()"></input>
    <div id="map"></div>
    <script>
      var longitude = parseFloat('<%= @parkingspot.longitude %>')
      var latitude = parseFloat('<%= @parkingspot.latitude %>')

      var myLatLng = {lat: latitude, lng: longitude};

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: latitude, lng: longitude}
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '<%= @parkingspot.address%>'
        });

        streetView = map.getStreetView();
        streetView.setPosition(myLatLng);
        streetView.setPov(/** @type {google.maps.StreetViewPov} */({
          heading: 200, 
          pitch: 0
        }));
      }

      function toggleStreetView() {
        var toggle = streetView.getVisible();
        if (toggle == false) {
          streetView.setVisible(true);
        } else {
          streetView.setVisible(false);
        }
      }
      
    </script>
    <script async defer
    src='https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"]%>&callback=initMap'>
    </script>

