<div id="confirmationPage">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-7 confirmationInfo">
          
          <h1>Reservation Confirmation</h1>
          <h4>Your ConfirmationID# is: <%= @reservation.id %></h4>
          <h4>The cost of your Reservation is: <%= number_to_currency(@reservation.price) %> per day</h4>
          <h4>Start Date: <%= @reservation.start_date.strftime("%m/%d/%Y") %></h4>
          <h4>End Date: <%= @reservation.end_date.strftime("%m/%d/%Y") %></h4>
          <h4>Address: <%= @parkingspot.address%></h4>
          <h4>Listing Name: <span class="confSpan"><%= @parkingspot.listing_name%></span></h4>
          <h4>Description: <span class="confSpan"><%= @parkingspot.description%></span></h4>
          <h4>Owner: 
            <span class="confSpan text-capitalize">
              <a href="/profile/<%= @user.username %>">
                <%= @user.username %>
              </a>
            </span>
          </h4>

            <span>
              <a href="/parkingspots/<%= @parkingspot.id%>" class="listingLinkColor">
                Link to listing
              </a>
            </span>
        </div>

        <div class="col-md-5">
          <%= render "maps/googlemaps" %>
        </div>
      </div>
    </div>
  </div>
</div>