<% @parkS.each do |park| %>
<a href="/parking_spots/<%= park.id %>" ><%= park.spotsAvail %></a>
<%= park.rate %>
<%= park.start_time %>
<%= park.end_time %>
<%= park.spotsAvail %>
<%= park.spotsAvail %>
<br>
<% end %>
