<div>Parking spot id <%= @parkS.id %></div>
<h1>Parking spot</h1>



	<div>Image: <%= @parkS.image %></div>
	<div>Cost/hr: <%= @parkS.rate %></div>
	<div>Location: <%= @parkS.location %></div>
	<div>Spots: <%= @parkS.spotsAvail %></div>
	<div>Description: <%= @parkS.description %></div>

	<!-- <a href="/parking_spots/<%= @parkS.id %>/rents/new" data-confirm="Are you sure?"> Rent me </a> -->
<% if current_user %>

	<%= form_for @rental, :url => parking_spot_rents_path(@parkS.id) do |f| %>
	<div class="form-group">
	<%=f.hidden_field :buyer_id, :value => current_user.id%>
</div>
	<%=f.hidden_field :seller_id, :value => @parkS.user_id%>
	<%=f.hidden_field :parking_spot_id, :value => @parkS.id%>
	<%=f.hidden_field :location, :value => @parkS.location %>
	<%=f.number_field :rate,:readonly => true, :value => @parkS.rate%>
	
	Start Date <%=f.datetime_field :start_time %>
	End Date <%=f.datetime_field :end_time %>
<%= f.submit data: { confirm: "Please verfiy your information" }%>

<% end %>

<% else %>

<%= link_to 'Login', new_user_session_path %> or
<%= link_to 'Sign Up', new_user_registration_path %>
to rent this spot
<% end %>