<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
</head>
<script type="text/javascript">
  function init() {
      var input = document.getElementById('locationTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);
  }
  google.maps.event.addDomListener(window, 'load', init);
  google.maps.event.addDomListener(window, 'page:load', init);
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    Rent your Parking spot!
  </div>
  <div class="panel-body">
    <div class="container"> 
      <%= form_for @parkingspot do |f| %>
        <div class="row">
          <div class="form-group">
            <%= f.hidden_field :image, value: @parkingspot.cached_image_data %>
            <%= f.label :image %>
            <%= f.file_field :image, :required => true%>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= f.label :listing_name %>
            <%= f.text_field :listing_name, :required => true, placeholder: 'Be clear and descriptive', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 5,:required => true, placeholder: 'Tell us about your parking spot!', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, id:  "locationTextField",:required => true, placeholder: 'What is your address?', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, placeholder: 'e.g. $20', class: 'form-control' %>
          </div>
        </div>

          <%= f.hidden_field :user_id, :value => current_user.id %>

        <div class="row">
          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-primary d-inline" %>
            <div class="text-right d-inline"><%= link_to "Delete Parking Spot", parkingspot_path, method: :delete%></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>