<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<div>Parking spot id <%= @parkingspot.id %></div>
<h1>Parking spot</h1>

	<!-- <div>Image: <%#= @parkingspot.image %></div> -->
	<div>Image: <%= @parkingspot.listing_name %></div>
	<div>Description: <%= @parkingspot.description %></div>
	<div>Cost/hr: <%= @parkingspot.price %></div>
	<div>Location: <%= @parkingspot.address %></div>
 
   <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
 <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src='https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"]%>&callback=initMap'>
    </script>
	

<% if user_signed_in? %>
<%= render "reservations/form" %>
<% else %>
Please <%= link_to 'Login', new_user_session_path%> or 
<%= link_to 'Sign Up', new_user_registration_path %> to reserve this spot!
<% end %>





