<!DOCTYPE html>
<html>
  <head>
    <title>ParkSmart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="main-header">
   <%= render file: "/layouts/_navbar" %>
  </header>

  <body>
    <style>
      .notice {
        position: fixed;
      }.alert {
        position: fixed;
      }
    </style>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
